label.mdl-switch.mdl-js-switch(
  class=$component.rippleClass()
  for=$component.mdlID
)
  input.mdl-switch__input(
    checked=$component.isAttributeEnabled('checked')
    disabled=$component.isAttributeEnabled('disabled')
    id=$component.mdlID
    type='checkbox'
  )
  span.mdl-switch__label
    content
