.layout-wrapper
  .mdl-layout.mdl-js-layout(
    class={'mdl-layout--fixed-header': true}
  )
    header.mdl-layout__header
      .mdl-layout-icon
      .mdl-layout__header-row
        span.mdl-layout-title Hi there
    - const drawer = $helpers.drawer();
    if drawer
      .mdl-layout__drawer
        span.mdl-layout-title= drawer.title
        nav.mdl-navigation
          each item in drawer.items
            a.mdl-navigation__link(href=item.href)= item.content
    main.mdl-layout__content
      .page-content
        content(select='main')
