.layout-wrapper
  .mdl-layout.mdl-js-layout(
    class={'mdl-layout--fixed-header': true}
  )
    header.mdl-layout__header
      .mdl-layout-icon
      .mdl-layout__header-row
        span.mdl-layout-title Hi there
    main.mdl-layout__content
      .page-content
        content(select='main')
