.mdl-slider-wrapper
  input.mdl-slider.mdl-js-slider(
    type='range'
    min=$component.getAttribute('min') || '0'
    max=$component.getAttribute('max') || '100'
    step=$component.getAttribute('step')
    value=$component.getAttribute('value')
    disabled=$component.isAttributeEnabled('disabled')
  )
