include ../common/icon.jade

button.mdl-button.mdl-js-button(
  class=[$component.rippleClass(), $helpers.buttonModClass()]
  class={
    'mdl-button--colored': $component.isAttributeEnabled('colored'),
    'mdl-button--raised': $component.isAttributeEnabled('raised'),
  }
  disabled=$component.isAttributeEnabled('disabled')
)
  +icon
  content
