include ../common/icon.jade

button(
  class=['mdl-button', 'mdl-js-button', $helpers.buttonModClass()]
  class=$component.rippleClass()
  class={
    'mdl-button--colored': $component.isAttributeEnabled('colored'),
    'mdl-button--raised': $component.isAttributeEnabled('raised'),
  }
  disabled=$component.isAttributeEnabled('disabled')
)
  +icon()
  content
